.image-holder {
    position: relative;
    display: inline-block;
    /* height: 500px;
    width: 500px; */
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
}

.image-holder img {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.image-holder:hover .display {
    bottom: 20px;
}

/* Edit Icon */
.edit-icon {
    display: none;
}

.image-holder:hover .edit-icon {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #222;
    padding: 10px;
}

/* Display Information About Collection */
.display {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    background: #222;
    opacity: 0.9;
    color: #fff;
    transition: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
}

.image-name {
    position: relative;
    text-align: left;
    font-size: 14px;
    height: 50px;
}

.image-info {
    position: relative;
    height: 30px;
    font-size: 12px;
    padding-bottom: 5px;
}

#name-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.num-images {
    float: left;
}

.image-date {
    float: right;;
}

.ellipsis:after {
    content: "\2026";
}

/* Responsiveness */
@media screen and (max-width:645px) {
    .image-holder {
				/* margin: 0 auto; */
				text-align: center;
				width: 80vw;
				height: 80vh;
				padding: 0;
		}
		.display {
			width: 80vw;

			/* margin: 0 12%; */
		}
		.image-date {
			float: none;
			padding-top: 2rem;
		}
}
/* Entry icon container */
#entry-list {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto 40px auto;
}

/* Search/filter navigation */
#list-filter {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 40px auto;
}

#list-filter input, #list-filter select {
    width: 250px;
    font-size: 14px;
    border: 1px solid #222;
    border-radius: 5px;
    margin: 40px 15px 0 15px;
    padding: 10px 20px;
}

#list-filter select option[data-default] {
  color: #777;
}

/* Load Button */
.load-button {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media screen and (max-width: 645px) {
    #list-filter {
        margin: 0 auto 20px auto;
    }

    #list-filter input, #list-filter select {
        margin: 20px 25px 0 25px;
    }

    #entry-list .form-button {
        margin-top: 10px;
    }
}
/* body{
    background: #e1e1e1;
}
div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery{
    width: 80%;
    float: left;
}

.upload{
    width: 20%;
    float: left;
}

.container{
    padding-top: 50px;
}

h1{
    text-align: center;
}

.upload-button {
    padding: 10px 25px;
    font-size: 20px;
    color: brown;
    background-color: gold;
    border: 3px solid goldenrod;
}

.upload-button:hover{
    background-color: goldenrod;
    border: 3px solid gold;
}

.upload-button:active{
    outline: none;
} */